ion-header {
  .app-logo {
    position: absolute;
    top: 16px;
    left: 12px;
    max-height: 22px;
    fill: white;
  }
}

ion-content {
  position: relative;
  --padding: 16px;
  --margin: 16px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 720px) {
  .form-container {
    padding: 6px;
  }
}
