<ion-header>
  <ion-toolbar color="secondary">
    <img
      class="app-logo"
      src="../../../assets/app_logo.svg"
      alt="app logo"
    />
    <ion-title class="ion-text-center">YOUR WATCHLIST</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="section" class="movie-cast">
    <ion-row class="ion-no-padding">
      <ion-col class="form-container" size="12" size-md="4">
        <form (ngSubmit)="onSetFilters()" #f="ngForm">
          <ion-grid>
            <ion-row class="ion-no-padding">
              <ion-col size="12" size-sm="4" size-md="12">
                <ion-item>
                  <ion-label position="floating">Genre</ion-label>
                  <ion-select [ngModel]="filters.genre" name="genre">
                    <ion-select-option
                      *ngFor="let genre of genres"
                      [value]="genre.id"
                      >{{ genre.name }}</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </ion-col>
              <!-- <ion-col size="12" size-sm="4" size-md="12">
                <ion-item>
                  <ion-label position="floating">Order By:</ion-label>
                  <ion-select
                    [ngModel]="filters.sortBy"
                    name="sortBy"
                  >
                    <ion-select-option value="popularity.desc"
                      >Popularity</ion-select-option
                    >
                    <ion-select-option value="revenue.desc"
                      >Revenue</ion-select-option
                    >
                    <ion-select-option value="vote_average.desc"
                      >Rating</ion-select-option
                    >
                    <ion-select-option value="vote_count.desc"
                      >Number of Votes</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </ion-col> -->
              <ion-col
                size="12"
                size-sm="2"
                size-md="4"
                offset-md="4"
              >
                <ion-button
                  type="submit"
                  color="primary"
                  expand="block"
                >
                  FILTER
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
      <ion-col class="ion-no-padding" size="12" size-md="8">
        <app-movie-list
          *ngIf="filteredWatchlist && filteredWatchlist.length > 0 && posterParams"
          [movies]="filteredWatchlist"
          [posterParams]="posterParams"
        ></app-movie-list>
        <p
          *ngIf="filteredWatchlist && filteredWatchlist.length === 0"
        >
          No items found
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
