<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-title>Ionic Input Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="ion-padding">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">type="number"</ion-label>
        <ion-input type="number" value="123"></ion-input>
      </ion-item>
      <div class="ion-padding"></div>
      <ion-item>
        <ion-label position="floating">inputmode="numeric"</ion-label>
        <ion-input inputmode="numeric" value="123"></ion-input>
      </ion-item>
      <div class="ion-padding"></div>
      <ion-item>
        <ion-label position="floating">inputmode="decimal"</ion-label>
        <ion-input inputmode="decimal" value="123"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
