<ion-header>
  <ion-toolbar color="secondary">
    <img class="app-logo" src="../../../assets/app_logo.svg" alt="app logo" />
    <ion-title text-center>POPULAR ACTORS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="12" size-md="8" offset-md="4">
        <ion-list class="actors-list" *ngIf="actors" lines="none">
          <ion-item
            *ngFor="let actor of actors"
            [routerLink]="['/main/tabs/actors', actor.id]"
          >
            <ion-thumbnail slot="start">
              <ion-img
                [src]="
                  this.getFullImgPath('profile', 'low', actor.profile_path)
                "
              ></ion-img>
            </ion-thumbnail>
            <div class="actor-text-items">
              <p>{{ actor.name }}</p>
              <div *ngIf="getKnownMoviesOnly(actor).length > 0">
                <p class="light-text">Known for:</p>
                <p>
                  <span *ngIf="getKnownMoviesOnly(actor)[0]"
                    >{{ getKnownMoviesOnly(actor)[0].title }}</span
                  ><span
                    class="light-text"
                    *ngIf="
                      getKnownMoviesOnly(actor)[0] &&
                      getKnownMoviesOnly(actor)[1]
                    "
                  >
                    and
                  </span>
                  <span *ngIf="getKnownMoviesOnly(actor)[1]">
                    {{ getKnownMoviesOnly(actor)[1].title }}</span
                  >
                </p>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
