<ion-header>
  <ion-toolbar>
    <ion-title>POPULAR ACTORS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!actors || actors.length <= 0">
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="6">
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="actors" lines="none">
    <ion-item
      *ngFor="let actor of actors"
      [routerLink]="['/main/tabs/actors', actor.id]"
    >
      <ion-thumbnail slot="start" size="200">
        <ion-img [src]="this.getFullImgPath(actor, 'actor', 'low')"></ion-img>
      </ion-thumbnail>
      <ion-label> {{ actor.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
