<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-center>POPULAR ACTORS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!actors || actors.length <= 0">
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="6">
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="actors" lines="none">
    <ion-item
      *ngFor="let actor of actors"
      [routerLink]="['/main/tabs/actors', actor.id]"
    >
      <ion-thumbnail slot="start">
        <ion-img [src]="this.getFullImgPath(actor, 'actor', 'low')"></ion-img>
      </ion-thumbnail>
      <div class="actor-text-items">
        <p>{{ actor.name }}</p>
        <div>
          <p class="light-text">Known for:</p>
          <p
            ><span *ngIf="actor.known_for[0].original_title">{{
              actor.known_for[0].original_title
            }}</span
            ><span  class="light-text" *ngIf="actor.known_for[0].original_title && actor.known_for[1].original_title"> and </span>
            <span *ngIf="actor.known_for[1].original_title">
              {{ actor.known_for[1].original_title }}</span
            >
            </p>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
