// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

:root {
  --ion-font-family: 'Montserrat', sans-serif;
  --ion-color-primary: #92d5e6;
  --ion-color-primary-rgb: 146, 213, 230;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #80bbca;
  --ion-color-primary-tint: #9dd9e9;

  --ion-color-secondary: #9bc53d;
  --ion-color-secondary-rgb: 155, 197, 61;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #88ad36;
  --ion-color-secondary-tint: #a5cb50;

  --ion-color-tertiary: #5bc0eb;
  --ion-color-tertiary-rgb: 91, 192, 235;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #50a9cf;
  --ion-color-tertiary-tint: #6bc6ed;

  --ion-color-success: #9bc53d;
  --ion-color-success-rgb: 155, 197, 61;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #88ad36;
  --ion-color-success-tint: #a5cb50;

  --ion-color-warning: #fde74c;
  --ion-color-warning-rgb: 253, 231, 76;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #dfcb43;
  --ion-color-warning-tint: #fde95e;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #1e1e24;
  --ion-color-dark-rgb: 30, 30, 36;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1a1a20;
  --ion-color-dark-tint: #35353a;

  --ion-color-medium: #4f6d7a;
  --ion-color-medium-rgb: 79, 109, 122;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #46606b;
  --ion-color-medium-tint: #617c87;

  --ion-color-light: #c0d6df;
  --ion-color-light-rgb: 192, 214, 223;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #a9bcc4;
  --ion-color-light-tint: #c6dae2;
}

// App Mixins
// ----------------------------------------------------------------------------
@mixin prefix(
  $property,
  $value,
  $vendors: webkit moz ms o,
  $default: true
) {
  @if $vendors {
    @each $vendor in $vendors {
      #{"-" + $vendor + "-" + $property}: #{$value};
    }
  }
  @if $default {
    #{$property}: #{$value};
  }
}

@mixin centerH {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  @include prefix(transform, translate(-50%, 0), 'webkit' 'ms');
}

@mixin centerV {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  @include prefix(transform, translate(-50%, 0), 'webkit' 'ms');
}

@mixin centerAll {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include prefix(transform, translate(-50%, -50%), 'webkit' 'ms');
}

// App Variables
// ----------------------------------------------------------------------------
$card-radius: 8px;
$card-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 1px 5px 0px rgba(0, 0, 0, 0.12);
