// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

ion-title {
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.mediaviewer-modal .modal-wrapper {
  border-radius: 0;
  height: 80vh;
  width: 80vw;
  display: block;
}
