<!-- <ion-list class="movie-list" *ngIf="movies" lines="none">
  <ion-item
    class="movie-info-area ion-no-padding"
    *ngFor="let movie of movies; let i = index"
  >
    <ion-thumbnail slot="start" size="300">
      <ion-img
        [src]="
          this.getFullImgPath('poster', 'low', movie.poster_path)
        "
      ></ion-img>
    </ion-thumbnail>
    <div class="movie-text-items">
      <p>{{ i + 1 }}</p>
      <p class="title">{{ movie.title }}</p>
      <ion-note>{{ getYear(movie.release_date) }}</ion-note>
      <div class="star-rating">
        <span [style.width]="getMovieRatingPct(movie)"></span>
      </div>
    </div>
    <app-watchlist-btn class="fav-btn" [movie]="movie"  [mode]="'compact'">
    </app-watchlist-btn>
  </ion-item>
</ion-list> -->

<ion-list class="movie-list" *ngIf="movies" lines="none">
  <ion-item
    class="ion-no-padding movie-info-area"
    *ngFor="let movie of movies; let i = index"
  >
    <ion-thumbnail
      slot="start"
      size="300"
      (click)="goToMoviePage(movie.id)"
    >
      <ion-img
        [src]="
          this.getFullImgPath('poster', 'low', movie.poster_path)
        "
      ></ion-img>
    </ion-thumbnail>

    <div class="movie-text-items">
      <p>{{ i + 1 }}</p>
      <p class="title" (click)="goToMoviePage(movie.id)">
        {{ movie.title }}
      </p>
      <ion-note>{{ getYear(movie.release_date) }}</ion-note>
      <div class="star-rating">
        <span [style.width]="getMovieRatingPct(movie)"></span>
      </div>
    </div>
    <app-watchlist-btn
      class="fav-btn"
      [movie]="movie"
      [mode]="'compact'"
    >
    </app-watchlist-btn>
  </ion-item>
</ion-list>

<!-- PLACEHOLDERS - SKELETON TEXT -->
<ion-list class="skel-list" *ngIf="!movies" lines="none">
  <ion-item
    class="skel-item"
    *ngFor="let movie of [1, 2, 3, 4, 5, 6, 7, 8]; let i = index"
  >
    <ion-skeleton-text
      class="skel-thumb"
      animated
    ></ion-skeleton-text>
    <div class="skel-details">
      <ion-skeleton-text
        class="skel-number"
        animated
      ></ion-skeleton-text>
      <ion-skeleton-text
        class="skel-title"
        animated
        style="width: 60%"
      ></ion-skeleton-text>
      <ion-skeleton-text
        class="skel-year"
        animated
      ></ion-skeleton-text>
      <ion-skeleton-text
        class="skel-stars"
        animated
      ></ion-skeleton-text>
    </div>
  </ion-item>
</ion-list>
