@import '../../../../theme/variables.scss';

.actor-main-area {
  background-color: var(--ion-color-dark);
}

.actor-stat-item {
  padding: 0;
  margin: 0 0 24px 0;
  text-align: center;

  p,
  h6 {
    padding: 0;
    margin: 0;
  }

  p {
    font-size: 0.8rem;
    color: var(--ion-color-light);
  }

  h6 {
    margin-top: 8px;
    color: var(--ion-color-primary);
  }
}

.actor-filmg-textarea {
  // background-color: palegoldenrod;
  display: flex;
  flex-direction: column;
  border: none;

  p {
    padding: 0;
    margin: 0;
  }
}

ion-thumbnail {
  width: 80px;
  height: 120px;
}

.credits-item {
  p:first-child {
    color: var(--ion-color-primary);
  }

  p:last-child {
    font-size: 0.8rem;
  }
}
