@import '../../../../theme/variables.scss';

$card-radius: 8px;

ion-thumbnail {
  width: 100px;
  height: 120px;
}

.ios {
  ion-segment {
    padding: 8px;
  }

  ion-segment-button {
    --padding-top: 8px;
    --padding-bottom: 8px;
    --color-checked: var(--ion-color-dark);
  }

  ion-item {
    padding: 10px;
  }
}

.main-segment {
  position: relative;
  background-color: black;

  .thumb-container {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;

    .thumb {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.movie-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .movie-stat-item {
    padding: 0;
    margin: 0 0 24px 0;
    text-align: center;

    p,
    h6 {
      padding: 0;
      margin: 0;
    }

    p {
      font-size: 0.8rem;
      color: var(--ion-color-light);
    }

    h6 {
      margin-top: 8px;
      color: var(--ion-color-primary);
    }

    h6 {
      font-size: 0.8rem;
    }
  }
}

.main-info-area {
  background-color: white;
  padding: 16px 24px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.crew-item {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 2fr 40px 2fr;

  p {
    margin: 12px 2px;
  }

  p:first-child {
    margin-top: 18px;
    color: var(--ion-color-primary);
  }

  p:last-child {
    justify-self: end;
    text-align: right;
  }
}

.movie-cast-textarea {
  // background-color: palegoldenrod;
  border: none;

  p {
    padding: 0;
    margin: 0;
  }

  p:first-child {
    color: var(--ion-color-primary);
  }

  p:last-child {
    font-size: 0.8rem;
  }
}

.section {
  margin-top: 0px;
  padding: 0;
  // background-color: paleturquoise;

  ion-col {
    padding: 4px;
  }

  ion-img {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
}

// CSS/SVG Star Ratings
$ratingSize: 110px;

.star-rating {
  margin-top: 8px;
  height: ($ratingSize/5);
  position: relative;
  width: $ratingSize;
  margin: 8px auto;
  &:before {
    // inactive
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIGZpbGw9IiM3ZjhjOGQiID4gICAgPHBhdGggZD0iTSAyNSAyLjI3MzQzNzUgTCAxOC42MDkzNzUgMTguNDgwNDY5IEwgMC44MTA1NDY4OCAxOS40MTc5NjkgTCAxNC42NDg0MzggMzAuNDEyMTA5IEwgMTAuMDcwMzEyIDQ3LjIyMjY1NiBMIDI1IDM3Ljc3MTQ4NCBMIDM5LjkyOTY4OCA0Ny4yMjI2NTYgTCAzNS4zNTE1NjIgMzAuNDEyMTA5IEwgNDkuMTg5NDUzIDE5LjQxNzk2OSBMIDMxLjM5MDYyNSAxOC40ODA0NjkgTCAyNSAyLjI3MzQzNzUgeiI+PC9wYXRoPjwvc3ZnPg==');
    background-repeat: repeat-x;
    background-size: ($ratingSize/5);
    bottom: 0;
    content: '';
    display: block;
    height: ($ratingSize/5);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: $ratingSize;
  }
  > span {
    display: block;
    text-indent: -10000px;
    width: $ratingSize;
    height: ($ratingSize/5);
    position: absolute;
    overflow: hidden;
    &:before {
      // active
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIGZpbGw9IiNmMWM0MGYiID4gICAgPHBhdGggZD0iTSAyNSAyLjI3MzQzNzUgTCAxOC42MDkzNzUgMTguNDgwNDY5IEwgMC44MTA1NDY4OCAxOS40MTc5NjkgTCAxNC42NDg0MzggMzAuNDEyMTA5IEwgMTAuMDcwMzEyIDQ3LjIyMjY1NiBMIDI1IDM3Ljc3MTQ4NCBMIDM5LjkyOTY4OCA0Ny4yMjI2NTYgTCAzNS4zNTE1NjIgMzAuNDEyMTA5IEwgNDkuMTg5NDUzIDE5LjQxNzk2OSBMIDMxLjM5MDYyNSAxOC40ODA0NjkgTCAyNSAyLjI3MzQzNzUgeiI+PC9wYXRoPjwvc3ZnPg==');
      background-repeat: repeat-x;
      background-size: ($ratingSize/5);
      bottom: 0;
      content: '';
      display: block;
      height: ($ratingSize/5);
      left: 0;
      position: absolute;
      right: 0;
      text-indent: 10000px;
      top: 0;
    }
  }
}

/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
  .main-info-area {
    border-radius: 20px;
    margin: 16px;
  }
}
