@import '../../../../theme/variables.scss';

.movie-main-area {
  background-color: #333;
}

.movie-stat-item {
  padding: 0;
  margin: 0 0 24px 0;
  text-align: center;

  p,
  h6 {
    padding: 0;
    margin: 0;
  }

  p {
    font-size: 0.8rem;
    color: var(--ion-color-light);
  }

  h5,
  h6 {
    margin-top: 8px;
    color: var(--ion-color-primary);
  }

  h6 {
    font-size: 0.8rem;
  }
}

.movie-cast-textarea {
  // background-color: palegoldenrod;
  display: flex;
  flex-direction: column;
  border: none;

  p {
    padding: 0;
    margin: 0;
  }
}

ion-thumbnail {
  width: 100px;
  height: 100px;
}

.crew-item-name {
  color: var(--ion-color-primary);
}

.cast-item {
  p:first-child {
    color: var(--ion-color-primary);
  }

  p:last-child {
    font-size: 0.8rem;
  }
}
