<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/main/tabs/movies"
        (click)="resetMovie()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="loadedMovie"
      >{{ loadedMovie.title }} ({{ movieYear }})</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="showMode" (ionChange)="onSegmentChange($event)">
    <ion-segment-button value="main"
      ><ion-icon name="information-circle"></ion-icon
    ></ion-segment-button>
    <ion-segment-button value="cast"
      ><ion-icon name="people"></ion-icon
    ></ion-segment-button>
    <ion-segment-button value="gallery"
      ><ion-icon name="photos"></ion-icon
    ></ion-segment-button>
    <!-- <ion-segment-button value="posters"
      ><ion-icon name="easel"></ion-icon
    ></ion-segment-button> -->
    <ion-segment-button value="trailers"
      ><ion-icon name="logo-youtube"></ion-icon
    ></ion-segment-button>
  </ion-segment>

  <!-- MOVIE MAIN SEGMENT / COVER  -->
  <div class="main-segment" *ngIf="loadedMovie && showMode === 'main'">
    <ion-grid no-padding>
      <ion-row>
        <!-- MAIN COVER  -->
        <ion-col no-padding size="7" size-sm="7" size-lg="4">
          <div class="thumb-container">
            <img class="thumb"
              [src]="this.getFullImgPath('poster', 'hi', loadedMovie.poster_path)"
            >
          </div>
        </ion-col>

        <!-- MAIN STATS  -->
        <ion-col
          class="movie-stats"
          no-padding
          size="5"
          size-sm="5"
          size-lg="2"
        >
          <div class="movie-stat-item">
            <p>Rating ({{ loadedMovie.vote_average }})</p>
            <div class="star-rating">
              <span [style.width]="movieRatingPct"></span>
            </div>
          </div>
          <div class="movie-stat-item">
            <p>Runtime</p>
            <h6>{{ getMovieDuration(loadedMovie.runtime) }}</h6>
          </div>
          <div class="movie-stat-item">
            <p>Budget</p>
            <h6>{{ loadedMovie.budget | currency }}</h6>
          </div>
          <div class="movie-stat-item">
            <p>Revenue</p>
            <h6>{{ loadedMovie.revenue | currency }}</h6>
          </div>
        </ion-col>

        <!-- MAIN INFO - Genres, Overview and Crew Members  -->
        <ion-col no-padding size="12" size-sm="12" size-lg="6">
          <ion-grid no-padding class="main-info-area">
            <ion-row no-padding *ngIf="genres">
              <ion-col size="12">
                <ion-chip
                  outline
                  color="dark"
                  *ngFor="let genre of loadedMovie.genres"
                >
                  <ion-label color="dark">{{
                    getGenreName(genre.id)
                  }}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <h4>Overview</h4>
                <p>{{ loadedMovie.overview }}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" *ngIf="movieCrew && showMode === 'main'">
                <h4>Featured Crew</h4>
                <div class="crew-item" *ngFor="let crewMember of movieCrew">
                  <p>{{ crewMember.name }}</p>
                  <p>......</p>
                  <p>{{ crewMember.job }}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- MOVIE CAST SEGMENT -->
  <ion-grid class="section">
    <ion-row no-padding>
      <ion-col no-padding size="12" size-sm="4" offset-sm="4">
        <ion-list *ngIf="movieCast && showMode === 'cast'" lines="none">
          <ion-item
            *ngFor="let actor of movieCast"
            [routerLink]="['/main/tabs/actors', actor.id]"
          >
            <ion-thumbnail slot="start" size="200">
              <ion-img
                [src]="
                  this.getFullImgPath('profile', 'low', actor.profile_path)
                "
              ></ion-img>
            </ion-thumbnail>
            <div class="movie-cast-textarea">
              <p>{{ actor.name }}</p>
              <ion-note>as</ion-note>
              <p>{{ actor.character }}</p>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- MOVIE GALLERY SEGMENT -->
  <ion-grid
    class="section"
    *ngIf="movieImages && moviePosters && showMode === 'gallery'"
  >
    <ion-row no-padding>
      <ion-col text-center>
        <ion-grid>
          <ion-note>IMAGES</ion-note>
          <ion-row>
            <ion-col
              size="12"
              size-sm="6"
              size-md="4"
              *ngFor="let img of movieImages"
            >
              <ion-img
                [src]="this.getFullImgPath('backdrop', 'low', img.file_path)"
                (click)="
                  openGalleryModal(
                    this.getFullImgPath('backdrop', 'hi', img.file_path)
                  )
                "
              ></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col text-center>
        <ion-grid>
          <ion-note>POSTERS</ion-note>
          <ion-row>
            <ion-col
              size="12"
              size-sm="6"
              size-md="4"
              *ngFor="let poster of moviePosters"
            >
              <ion-img
                [src]="this.getFullImgPath('poster', 'low', poster.file_path)"
                (click)="
                  openGalleryModal(
                    this.getFullImgPath('poster', 'hi', poster.file_path)
                  )
                "
              ></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- TRAILERS SEGMENT -->
  <ion-grid class="section" *ngIf="movieTrailers && showMode === 'trailers'">
    <ion-row no-padding>
      <ion-col
        size="12"
        size-sm="6"
        size-md="4"
        *ngFor="let trailer of movieTrailers"
      >
        <ion-img
          [src]="this.getTrailerThumbPath(trailer.key)"
          (click)="openVideoPlayerModal(trailer.key)"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
