ion-text {
  padding: 12px;
  span {
    font-weight: 700;
  }
}

ion-content {
  position: relative;

  ion-chip {
    background-color: rgba(55, 55, 55, 0.4);
    color: white;
    position: absolute;
    right: 8px;
    top: 8px;
  }
}
