<!-- <ion-header>
  <ion-toolbar>
    <ion-text
      >Picture from: <span>{{ title }}</span></ion-text
    >
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div>
    <figure>
      <ion-chip color="dark" (click)="onCancel()">
        <ion-label>CLOSE</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
      <img *ngIf="fullPath" [src]="fullPath" alt="gallery img" />
      <div class="wait">
        <p>LOADING</p>
        <p>...</p>
      </div>
    </figure>
    <!-- <ion-img *ngIf="fullPath" [src]="fullPath"></ion-img> -->
  </div>
</ion-content>
